table {
  border-collapse: collapse; 
  margin: 25px auto; 
  font-size: 0.9em; 
  font-family: sans-serif;
   min-width: 400px;
    width: 50%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    display: block;
}

table thead tr {
  background-color: #a1c0e9;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
